packages: [
  "autocomplete-elixir"
  "build-elixir"
  "busy-signal"
  "file-icons"
  "git-time-machine"
  "intentions"
  "language-elixir"
  "language-elm"
  "language-erlang"
  "language-fish-shell"
  "language-gherkin"
  "language-glsl"
  "language-haskell"
  "language-pico8"
  "language-rust"
  "linter"
  "linter-elixirc"
  "linter-elm-make"     
  "linter-rust"
  "linter-ui-default"
  "markdown-writer"
  "multirow-tabs"
  "package-sync"
  "rainbow-tabs"
]
